@page "/edit/{CurrentID}"
@inherits EditBase

<h1>Edit</h1>


<EditForm Model="@product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for=" Name" class="control-label">Name</label>
                <InputText id="Name" class="form-control" placeholder="Name" @bind-Value="product.Name" />
                <ValidationMessage For="@(()=> product.Name)" />
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <InputText id="Description" class="form-control" placeholder="Description" @bind-Value="product.Description" />
                <ValidationMessage For="@(()=> product.Description)" />
            </div>
            <div class="form-group row">
                <label for="stock" class="col-sm-2 col-form-label">
                    Price
                </label>
                <div class="col-sm-10">
                    <InputNumber id="price" class="form-control" placeholder="price" @bind-Value="ProductPrice" />
                    <ValidationMessage For="@(()=> ProductPrice)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="stock" class="col-sm-2 col-form-label">
                    SalePrice
                </label>
                <div class="col-sm-10">
                    <InputNumber id="salePrice" class="form-control" placeholder="salePrice" @bind-Value="SalePrice" />
                    <ValidationMessage For="@(()=> SalePrice)" />
                </div>
            </div>
            <div class="form-group">
                <label for="Size" class="control-label">Available</label>
                <select @bind="@product.IsAvailable" class="form-control">
                    <option value="">--Available--</option>
                    <option value="0">Yes</option>
                    <option value="1">No</option>

                </select>
            </div>
            <div class="form-group">
                <label for=" Price" class="control-label">Stock</label>
                <InputNumber id="stock" class="form-control" placeholder="stock" @bind-Value="product.Stock" />
                <ValidationMessage For="@(()=> product.Stock)" />
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>

</EditForm>