@page "/edit/{CurrentID}"
@using Models
@inherits EditBase
@inject Frontend.Services.IProductService productService
@inject Frontend.Services.Interfaces.IImageService imageService
@inject NavigationManager NavigationManager


<h1>Edit</h1>


<EditForm Model="@product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for=" Name" class="control-label">Name</label>
                <InputText id="Name" class="form-control" placeholder="Name" @bind-Value="product.Name" />
                <ValidationMessage For="@(()=> product.Name)" />
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <InputText id="Description" class="form-control" placeholder="Description" @bind-Value="product.Description" />
                <ValidationMessage For="@(()=> product.Description)" />
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <br />
                    Current Price: <strong>@product.CurrentPrice</strong>
                </div>
            </div>
            <div class="form-group row">
                <label for="stock" class="col-sm-2 col-form-label">
                    Original Price
                </label>
                <div class="col-sm-10">
                    <InputNumber id="price" class="form-control" placeholder="Original price" @bind-Value="product.Price" />
                    <ValidationMessage For="@(()=> product.Price)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="stock" class="col-sm-2 col-form-label">
                    Sale Price
                </label>
                <div class="col-sm-10">
                    <InputNumber id="salePrice" class="form-control" placeholder="salePrice" @bind-Value="product.SalePrice" />
                    <ValidationMessage For="@(()=> product.SalePrice)" />
                </div>
                <div class="col-sm-10">
                    <small>
                        <i>
                            <strong>Put product on sale:</strong> SalePrice has a value. Current Price = Saleprice.
                            <br /> <strong>Put product off sale:</strong> SalePrice is 0, Current Price = Original Price.
                        </i>
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <br />
                    Current Category: <strong>@product.ProductCategoryName</strong>
                </div>
            </div>
            <div class="form-group">
                <label for="ProductCategory" class="control-label">Change Category:</label>
                <InputSelect @bind-Value="@ProductCatId" class="form-control">
                    @foreach (var category in ProductCategories)
                    {
                        <option value="@category.Id" class="form-control">@category.CategoryName</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <br />
                <label for=" Stock" class="control-label">Stock</label>
                <InputNumber id="stock" class="form-control" placeholder="stock" @bind-Value="product.Stock" />
                <ValidationMessage For="@(()=> product.Stock)" />
            </div>
            <div class="form-group row">
                <label for="IsFeatured" class="col-sm-2 col-form-label">Featured</label>
                <div class="col-sm-10">
                    <input type="checkbox" style="height: 100%" @bind="product.IsFeatured">
                </div>
            </div>
            <div class="form-group row">
                <label for="IsAvailable" class="col-sm-2 col-form-label">Is Available</label>
                <div class="col-sm-10">
                    <input type="checkbox" style="height: 100%" @bind="product.IsAvailable">
                </div>
            </div>
            <label for="Image" class="col-sm-2 col-form-label">
                Images
            </label>
            <div class="col-sm-12 mb-4">
                <DropZone ProductId="product.Id" @ref="child" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Edit" />
                <input type="button" class="btn btn-primary" @onclick="@(()=> Cancel())" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>
