@page "/"
@inherits IndexBase

@if (products == null)
{
    <div class="mt-5 text-center w-100">
        <img src="./Images/loading.gif" style="width:20%;height:8%" />
    </div>
}
else
{
    <div>
        <div class="pl-4 navbar bg-middle-yellow mt-4">
            <form @onsubmit="SearchProducts">
                <table>
                    <tr>
                        <td>
                            <input class="form-control" placeholder="Enter product name..." maxlength="60"
                                   @bind="@ProductSearchQuery" />
                        </td>
                        <td>
                            <button type="submit" class="btn btn-secondary mx-sm-2">Search</button>
                        </td>
                    </tr>
                </table>
            </form>

            <button class="toggler-button align-content-between text-dark-yellow font-weight-bolder"
                    @onclick="ToggleNavMenu">
                Filter
                @if (NavMenuCssClass == null)
                {
                    <span class="oi oi-chevron-bottom text-dark-yellow"></span>
                }
                else
                {
                    <span class="oi oi-chevron-top text-dark-yellow"></span>
                }
            </button>
        </div>
        <div class="@NavMenuCssClass bg-light-yellow row form-group ml-0 mr-0 pb-4">
            <div class="col-lg-2 pt-4">
                <div>Category</div>
                <EditForm Model="@products">
                    <InputSelect @bind-Value="@ProductCategoryId" class="form-control">
                        <option value="0" class="form-control">Select category ...</option>
                        @foreach (var category in ProductCategories)
                            {
                            <option value="@category.Id" class="form-control">@category.CategoryName</option>
                            }
                    </InputSelect>
                </EditForm>
            </div>
            <div class="col-lg-3 pt-4" style="margin-top: auto;">
                <button type="submit" class="btn btn-dark"
                        @onclick="() => FilterByProductCategory(int.Parse(ProductCategoryId))">
                    Filter Category
                </button>
            </div>

            <div class="col-lg-2 pt-4">
                <div>Price from:</div>
                <EditForm Model="@products">
                    <InputSelect @bind-Value="@MinPrice" class="form-control">
                        <option value="0" class="form-control">Price from ...</option>
                        <option value="0" class="form-control">0</option>
                        <option value="100" class="form-control">100</option>
                        <option value="200" class="form-control">200</option>
                        <option value="500" class="form-control">500</option>
                        <option value="1000" class="form-control">1000</option>
                        <option value="2000" class="form-control">2000</option>
                        <option value="5000" class="form-control">5000</option>
                        <option value="10000" class="form-control">10000</option>
                        <option value="50000" class="form-control">50000</option>
                        <option value="100000" class="form-control">100000</option>
                    </InputSelect>
                </EditForm>
            </div>
            <div class="col-lg-2 pt-4">
                <div>Price to:</div>
                <EditForm Model="@products">
                    <InputSelect @bind-Value="@MaxPrice" class="form-control">
                        <option value="0" class="form-control">Price to ...</option>
                        @if (int.Parse(MinPrice) <= 100)
                            {
                            <option value="100" class="form-control">100</option>
                            }
                        @if (int.Parse(MinPrice) <= 200)
                            {
                            <option value="200" class="form-control">200</option>
                            }
                        @if (int.Parse(MinPrice) <= 500)
                            {
                            <option value="500" class="form-control">500</option>
                            }
                        @if (int.Parse(MinPrice) <= 1000)
                            {
                            <option value="1000" class="form-control">1000</option>
                            }
                        @if (int.Parse(MinPrice) <= 2000)
                            {
                            <option value="2000" class="form-control">2000</option>
                            }
                        @if (int.Parse(MinPrice) <= 5000)
                            {
                            <option value="5000" class="form-control">5000</option>
                            }
                        @if (int.Parse(MinPrice) <= 10000)
                            {
                            <option value="10000" class="form-control">10000</option>
                            }
                        @if (int.Parse(MinPrice) <= 50000)
                            {
                            <option value="50000" class="form-control">50000</option>
                            }
                        @if (int.Parse(MinPrice) <= 100000)
                            {
                            <option value="100000" class="form-control">100000</option>
                            }
                    </InputSelect>
                </EditForm>
            </div>
            <div class="col-lg-3 pt-4" style="margin-top: auto;">
                <button type="submit" class="btn btn-dark"
                        @onclick="() => FilterByPriceRange(int.Parse(MinPrice),int.Parse(MaxPrice))">
                    Filter Price
                </button>
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide main-carousel" data-ride="carousel">
            <div class="carousel-inner main-carousel carouselstyle">
                @foreach (var product in GetFeaturedProducts())
                {
                    <div class="textstyle card carousel-item text-white bg-primary mb-3 main-carousel @(GetFeaturedProducts()[0] == product ? "active" : "")">
                        <div class="card-header" style="color: white; text-align: center;">
                            Featured products
                        </div>

                        <div class="carouselstyle2 card ">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@($"productdetails/{product.Id}")">
                                        @{
                                            string src;
                                            var image = Images.Where(p => p.ProductId == product.Id).FirstOrDefault();
                                            if (image != null)
                                            {
                                                src = image.ImageURL;
                                            }
                                            else
                                            {
                                                src = null;
                                            }

                                        }
                                        @if (src != null)
                                        {
                                            <img class="pic" src="@src"/>
                                        }
                                        else
                                        {
                                            <span class="iconify" data-icon="carbon:no-image" data-inline="false" style="width: 170px;height: 170px;color: darkgrey; background-color: white;"></span>
                                        }
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <p class="card-title">@product.Name</p>
                                        <p class="card-text">@product.Description</p>
                                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (GetFeaturedProducts().Count > 1)
            {
                <a class="carousel-control-prev carousel-control-smaller" href="#carouselExampleIndicators" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon carousel-control-icon-smaller" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next carousel-control-smaller" href="#carouselExampleIndicators" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon carousel-control-icon-smaller" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            }
        </div>

        @if (products.Count() <= 0)
        {
            <div class="mt-3">Sorry, no matches for “@ProductSearchQuery” could be found.</div>
        }
        else
        {
            <div class="row">
                @foreach (var product in products)
                {
                    if (product.Stock > 0)
                    {
                        <div class="card-group col-sm-4 p-3">
                            <div class="card shadow">
                                <div class="d-flex justify-content-center p-2">
                                    @if (product.SalePrice > 0)
                                    {
                                        <img class="sale" src="/Images/SALE.png" style="width:50px;height:50px;" />
                                    }
                                    <a href="@($"productdetails/{product.Id}")">
                                        @{
                                            string src;
                                            var image = Images.Where(p => p.ProductId == product.Id).FirstOrDefault();
                                            if (image != null)
                                            {
                                                src = image.ImageURL;
                                            }
                                            else
                                            {
                                                src = null;
                                            }

                                        }
                                        @if (src != null)
                                        {
                                            <img src="@src" style="width:150px;height:150px;" />
                                        }
                                        else
                                        {
                                            <img src="/Images/noimage2.png" style="width:150px;height:150px;" />
                                        }
                                    </a>
                                    @if (product.SalePrice > 0)
                                    {
                                        <div>
                                            <h6 class="saleproprice">@{ Rea = (int)((product.Price - product.CurrentPrice) / (product.Price / 100));} @Rea%</h6>
                                            <img class="salepro" src="/Images/descountred.png" style="width:50px;height:50px;" />
                                        </div>
                                    }
                                </div>
     
                                <div class="card-body">
                                    <a href="@($"productdetails/{product.Id}")" style="text-decoration:none ;color:black">
                                        <h5 class="card-title ">@product.Name</h5>
                                        <p class="card-text">@product.Description</p>
                                        @if (product.SalePrice > 0)
                                        {
                                            <p class="currentprice text-center h2 font-weight-bold">@product.CurrentPrice:-</p>
                                        }
                                        else
                                        {
                                            <p class="text-secondary text-center h2 font-weight-bold">@product.CurrentPrice:-</p>
                                        }

                                        @if (product.SalePrice > 0)
                                        {
                                            <p class="price text-secondary text-center h2 font-weight-bold">@product.Price:-</p>
                                        }
                                    </a>
                                        @* <p class="text-secondary text-center h2 font-weight-bold">Stock: @product.Stock</p>
            <p class="card-text">@(product.IsAvailable ? "Available" : "Not Available")</p> *@
                                </div>

                                <div class="card-footer">
                                    @if (@product.Stock < 6 && product.Stock >= 1)
                                    {
                                      <small class="text-muted">
                                        Stock: @product.Stock 
                                            <i class="iconify text-warning" data-icon="carbon:warning-filled" data-inline="false" title="Product is running low on stock" aria-hidden="true" style="width:15px;height:15px;margin-bottom: 5px;" />
                                      </small>
                                    }
                                    else
                                    {
                                        <small class="text-muted">Stock: @product.Stock</small>
                                    }

                                    <small class="available text-muted float-right">@(product.IsAvailable ? "Available" : "Not Available")</small>

                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
}

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}