@page "/managecoupons/"
@inherits Frontend.Bases.ManageCouponBase

<EditForm Model="@Coupon" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="jumbotron text-center">
        <h2>Manage Coupons</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Create a Coupon</h3>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <div>Code</div>
                <InputText class="form-control" id="code" placeholder="e.g WINTER20" @bind-Value="Coupon.Code" />
            </div>
            <div class="col-md-2">
                <div>Description</div>
                <InputText class="form-control" id="description" placeholder="Optional" @bind-Value="Coupon.Description" />
            </div>
            <div class="col-md-2">
                <div>Start Date</div>
                <InputDate class="form-control" id="startdate" @bind-Value="Coupon.StartDate" />
            </div>
            <div class="col-md-2">
                <div>End Date</div>
                <InputDate class="form-control" id="endate" placeholder="YYYYMMDD" @bind-Value="Coupon.EndDate" />
            </div>
            <div class="col-md-2">
                <div>Discount</div>
                <InputNumber class="form-control" id="discount" placeholder="0,20" @bind-Value="Coupon.Discount" />
            </div>
            <div class="col-md-2">
                <div><br /></div>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
    @if (Coupon != null)
    {
        <div class="form-group">
            <div class="col-12">Product Added</div>
            <div class="col-12">
                @Coupon.Code, @Coupon.Description, @Coupon.StartDate, @Coupon.EndDate,@Coupon.Discount *=10
            </div>
        </div>
    }
</EditForm>

@code {

}
