@layout LoginLayout
@page  "/signup"
@inherits SignupBase

<div class="container col-sm-4">
    <div class="row justify-content-center">
        <EditForm Model="@user" OnValidSubmit="@RegisterUser">
            <DataAnnotationsValidator />
            <div class="signup-box">
                <img alt="" class="avatar" src="https://i.postimg.cc/zDyt7KCv/a1.jpg">
                <AuthorizeView Roles="Admin">
                    <Authorized Context="Auth">
                        <h2>Create new user</h2>
                    </Authorized>
                    <NotAuthorized Context="Auth">
                        <h2>Sign Up</h2>
                    </NotAuthorized>
                </AuthorizeView>
                <InputText @bind-Value="user.FirstName" placeholder="first name (optional)" />

                <InputText @bind-Value="user.LastName" placeholder="last name (optional)" />

                <InputText @bind-Value="user.Username" placeholder="user name" />
                <div class="error-message">
                    <ValidationMessage For="@(()=> user.Username)" />
                </div>

                <InputText type="password" @bind-Value="user.Password" placeholder="password" />
                <div class="error-message">
                    <ValidationMessage For="@(()=> user.Password)" />
                </div>

                <InputText type="password" @bind-Value="user.ConfirmPassword" placeholder="confirm password" />
                <div class="error-message">
                    <ValidationMessage For="@(()=> user.ConfirmPassword)" />
                </div>

                <AuthorizeView Roles="Admin">
                    <Authorized Context="Auth">
                            <InputSelect @bind-Value="user.Role">
                                <option class="select-options text-dark" value="1">Admin</option>
                                <option class="select-options text-dark" value="2">Customer</option>
                            </InputSelect>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Admin">
                    <Authorized Context="Auth">
                        <input type="submit" class="btn btn-sm" value="Create" />
                    </Authorized>
                    <NotAuthorized Context="Auth">
                        <input type="submit" class="btn btn-sm" value="Sign Up" />
                    </NotAuthorized>
                </AuthorizeView>
                @if (!IsUserAdmin)
                {
                    <p class="signup-login-buton"><a href="/login">Already an user?</a></p>
                }
            </div>
        </EditForm>
    </div>
</div>